.list_item {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: background-color 75ms ease;
  padding-inline: 16px;
  padding-block: 8px;
  box-sizing: border-box;

  &__clickable {
    &:hover {
      background-color: rgba(0, 0, 0, .04);
    }

    &:active {
      background-color: rgba(0, 0, 0, .12);
    }
  }
}

.size_tiny {
  min-height: 36px;
}

.size_regular {
  min-height: 52px;
}

.size_big {
  min-height: 72px;
}

.size_huge {
  padding-block: 16px;
}

.wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  border: 0;
  background-color: transparent;
}

.left {
  min-width: 56px;
}

.content {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}
