{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "jsdoc",
    "simple-import-sort",
    "jsx-a11y",
    "testing-library"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jsdoc/recommended",
    "plugin:react-hooks/recommended"
  ],
  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    },
    {
      "files": ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
      "extends": ["plugin:testing-library/react"]
    }
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "prettier/prettier": "error",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "jsdoc/require-example": "warn",
    "jsdoc/no-undefined-types": ["error", {
      "definedTypes": [
        "CSSProperties",
        "Element",
        "HTMLDivElement",
        "HTMLElement",
        "JSX",
        "KeyboardEvent",
        "MouseEvent",
        "React",
        "ThemeData",
        "TouchEvent"
      ]
    }],
    "jsdoc/require-jsdoc": ["warn", {
      "contexts": [
        "ArrowFunctionExpression",
        "FunctionDeclaration",
        "FunctionExpression",
        "MethodDefinition",
        // "Property",
        "TSDeclareFunction",
        "TSEnumDeclaration",
        "TSInterfaceDeclaration",
        "TSMethodSignature",
        "TSPropertySignature",
        "TSTypeAliasDeclaration"
        // "VariableDeclaration"
      ],
      "checkGetters": true,
      "enableFixer": false
    }],
    "jsdoc/check-line-alignment": ["error", "always"],
    "jsdoc/no-multi-asterisks": "error"
  },
  "ignorePatterns": [
    "node_modules",
    "dist",
    "storybook-static",
    "coverage"
  ]
}
