$overlay-z-index: 999;

@keyframes overlay-appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes overlay-exit {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes dialog-appear {
  from {
    transform: translateY(-500px) translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
  }
}

@keyframes dialog-exit {
  from {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
  }
  to {
    transform: translateY(-500px) translateX(-50%);
    opacity: 0;
  }
}

@mixin cover($position: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

.dialog {
  @include cover($position: fixed, $top: 50%, $left: 50%, $right: null, $bottom: null);
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  animation: dialog-appear .3s ease-in-out;
  z-index: #{$overlay-z-index + 1};

  &__unmounting {
    animation: dialog-exit .3s ease-in-out;
  }
}

.overlay {
  @include cover($position: fixed);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: $overlay-z-index;
  animation: overlay-appear .3s ease-in-out;
  width: 100vw;

  &__unmounting {
    animation: overlay-exit .3s ease-in-out;
  }
}
