$padding-inline: 16px;

.button {
  background-color: transparent;
  border: 1px solid transparent;
  height: 36px;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  padding: 0 $padding-inline;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: #{64px + $padding-inline * 1.5};
  outline: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  border-radius: 4px;

  //#region Emphasis-specific styles
  &__low, &__medium {
    &:hover, &:focus {
      background-color: var(--button-color--low-opacity);
    }

    &:active {
      background-color: var(--button-color--medium-opacity);
    }
  }

  &__medium, &__high {
    border: 1px solid var(--button-color);
  }

  &__high {
    background-color: var(--button-color);

    &:hover, &:focus {
      background-color: var(--button-color--high--hover);
    }

    &:active {
      background-color: var(--button-color--high--active);
    }
  }
  //#endregion
}

// Disabled styles
.button__disabled {
  opacity: .5;

  &.button__low, &.button__medium {
    &:hover, &:focus, &:active {
      background-color: transparent;
    }
  }

  &.button__high {
    &:hover, &:focus, &:active {
      background-color: var(--button-color);
    }
  }
}

.button__block {
  display: flex;
  width: 100%;
}

.icon {
  margin-left: -4px;
  margin-right: 8px;
}

.button__high:not(.button__disabled) {
  box-shadow: 0 3px 1px -2px rgb(0, 0, 0, 0.2),
              0 2px 2px 0 rgb(0, 0, 0, 0.14),
              0 1px 5px 0 rgb(0, 0, 0, 0.12);
}
