$padding-inline: 16px;

.button {
  background-color: transparent;
  border: 1px solid transparent;
  height: 36px;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  padding: 0 $padding-inline;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: #{64px + $padding-inline * 1.5};
  outline: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  border-radius: 4px;
}

.button__block {
  display: flex;
  width: 100%;
}

.button__disabled {
  opacity: .5;
}

.icon {
  margin-left: -4px;
  margin-right: 8px;
}

.button__high:not(.button__disabled) {
  box-shadow: 0 3px 1px -2px rgb(0, 0, 0, 0.2),
              0 2px 2px 0 rgb(0, 0, 0, 0.14),
              0 1px 5px 0 rgb(0, 0, 0, 0.12);
}
